<!doctype html>
<html lang="en">
    <head>
        {% block title %}
        <title>Confirmation</title>
        {% endblock %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Add additional CSS in static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
        <header>
            <h1>Thank You!</h1>
        </header>
        <main>
            <div class="blurb">
                <h3>Thanks for signing up!</h3>
                <h3>
                    You'll recieve an email within the next 5 minutes, but this is all you need to do for now. If you
                    haven't received it, check your spam inbox, since you might need to unblock our email.
                </h3>
            </div>
        </main>
    </body>
</html>
