<!doctype html>
<html lang="en">
    <head>
        {% block title %}
        <title>Edit Profile</title>
        {% endblock %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--searchable dropdowns-->
        <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>

        <!-- Add additional CSS in static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/dropdown.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
        <header>
            <h1>Edit Profile</h1>
        </header>
        <main>
            <div class="blurb">
                <h3>Edit your profile:</h3>
                <h3>Change any needed values and then submit.</h3>
            </div>
            <form method="post">
                {% csrf_token %} {{ form }}
                <input type="submit" value="Submit" class="submit button input" />
            </form>
        </main>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const form = document.querySelector("form");
                const submitButton = form.querySelector('[type="submit"]');

                form.addEventListener("submit", function () {
                    submitButton.disabled = true;
                    submitButton.value = "Processing...";
                });
            });
        </script>
    </body>
</html>
