<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>No Logging</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
        {% load mathfilters %}
        {% block content %}
        <header>
            <h1>No Logging</h1>
        </header>
         <main>
            <div class="blurb">
                <h3>Greetings, {{user.name}}.</h3>
                <!--redirects to yes page-->
                <a href=../yes/{{user.uuid}}>Oops! I meant to press yes!</a>
                <h4>Congrats! You have saved {{ user.emissions_saved|div:1000 }}kg of CO2e so far!</h4>
                {% endblock %}
             </div>
            <form method="post">
                {% csrf_token %} {{ form }}
                <input type="submit" value="Submit" class="submit button input"/>
            </form>
        </main>
    </body>
</html>
