<!doctype html>
<html lang="en">
    <head>
    <script
      src="https://browser.sentry-cdn.com/10.8.0/bundle.tracing.replay.feedback.min.js"
      integrity="sha384-Yy2UXIFrWRfe56w1BuJ8/pgltHwWyYP4Q7dYKueJ/c6RG8B/bPJmGv+TBTQSuTSv"
      crossorigin="anonymous"
    ></script>
    <script>
      Sentry.init({
        dsn: "https://4f1b680b2af32bf11c468fbd4f104bea@o4509970654560256.ingest.de.sentry.io/4509970669895760",
   });
    </script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>No Logging</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-96x96.png' %}" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon/favicon.svg' %}" />
        <link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}" />
        <meta name="apple-mobile-web-app-title" content="Swap One" />
        <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}" />
    </head>
    <body>
        {% load mathfilters %}
        {% block content %}
        <header>
            <div class="visdiv">
                <button id="navbutton" onclick="navToggle()">☰</button>
                <div class="headerbox">
                    <a href="https://www.swapone.nz"><img alt="Swap One logo (link to main website)" class="logo" src="{% static 'images/cool_logo.png' %}" /></a>
                </div>
            </div>
            <div id="navlinks">
                <a class="button" href="/edit/{{ user.uuid }}">Edit Profile</a>
                <a class="button" href="/dash/{{ user.uuid }}">View Dashboard</a>
                <a class="button" href="/unsubscribe/{{ user.uuid }}">Unsubscribe</a>
            </div>
        </header>
         <main>
             <h1>Log a Missed Trip</h1>
            <div class="blurb">
                <!--redirects to yes page-->
                <a href=../yes/{{user.uuid}}>Oops! I meant to press yes!</a>
                <h4>It's a shame you didn't manage to swap a trip this week. There's always next week, though!</h4>
                <h4>Why couldn't you do a trip?</h4>
                {% endblock %}
             
                <form method="post">
                    {% csrf_token %} {{ form }}
                    <input type="submit" value="Submit" class="submit button input"/>
                </form>
                </div>
        </main>
        <footer>
            <div class="logobox">
                <a href="https://www.nelsontasmanclimateforum.nz/"
                    ><img
                        alt="Nelson Tasman Climate Forum logo (link to website)"
                        class="logoimg"
                        src="{% static 'images/Logos/ntcf.png' %}"
                /></a>
                <a href="https://missionzero.nz/"
                    ><img
                        alt="Mission Zero logo (link to website)"
                        class="logoimg"
                        src="{% static 'images/Logos/missionzero.png' %}"
                /></a>
                <a href="https://www.nelsust.org.nz/"
                    ><img
                        alt="Nelsust logo (link to website)"
                        class="logoimg"
                        src="{% static 'images/Logos/nelsust.png' %}"
                /></a>
                <a href="https://www.nelson.govt.nz/"
                    ><img
                        alt="Nelson City Council logo (link to website)"
                        class="logoimg"
                        src="{% static 'images/Logos/ncc.png' %}"
                /></a>
            </div>
            <p>
                <b>
                    Made with love by Arturo Neale |
                    <a
                        href="https://docs.google.com/document/d/16ZJs5ThK508UCH08u0rqlp89AmkNzo0Klvcf2od-W18/edit?usp=sharing"
                    >T&Cs / Privacy</a>
                </b>
            </p>
        </footer>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                form = document.getElementsByTagName("form")[0]
                form.innerHTML = `
                    <div class="checkboxbox">
                        <input type="checkbox" id="sick" name="sick" class="checkbox" />
                        <label for="sick" id="sick-l" class="checkboxLabel">Sick</label>
                    </div>

                    <div class="checkboxbox">
                        <input type="checkbox" id="holiday" name="holiday" class="checkbox" />
                        <label for="holiday" id="holiday-l" class="checkboxLabel">Holiday</label>
                    </div>

                    <div class="checkboxbox">
                        <input type="checkbox" id="badWeather" name="badWeather" class="checkbox" />
                        <label for="badWeather" id="badWeather-l" class="checkboxLabel">Bad weather</label>
                    </div>

                    <div class="checkboxbox">
                        <input type="checkbox" id="neededCar" name="neededCar" class="checkbox" />
                        <label for="neededCar" id="neededCar-l" class="checkboxLabel">Needed car for something else</label>
                    </div>

                    <div class="checkboxbox">
                        <input type="checkbox" id="usualRideNotAvailable" name="usualRideNotAvailable" class="checkbox" />
                        <label for="usualRideNotAvailable" id="usualRideNotAvailable-l" class="checkboxLabel">Usual ride not available</label>
                    </div>

                    <div class="checkboxbox">
                        <input type="checkbox" id="busNotWorking" name="busNotWorking" class="checkbox" />
                        <label for="busNotWorking" id="busNotWorking-l" class="checkboxLabel">Bus wasn’t working</label>
                    </div>

                    <div class="checkboxbox">
                        <input type="checkbox" id="carWasFaster" name="carWasFaster" class="checkbox" />
                        <label for="carWasFaster" id="carWasFaster-l" class="checkboxLabel">Car was faster</label>
                    </div>
                ` + form.innerHTML
                console.log(form)
                
            });
            
            document.querySelector('form').addEventListener('submit', function(event) {
             const checkboxes = document.querySelectorAll('.checkbox:checked');
             const otherText = document.getElementById('id_text_response').value.trim();
                
             const selectedReasons = Array.from(checkboxes).map(cb => document.getElementById(cb.id + "-l").innerHTML);
             if (otherText !== "") {
              selectedReasons.push(otherText);
             }
             document.getElementById('id_text_response').value = selectedReasons.join(' | ');
            }); 
            
            function navToggle() {
                var x = document.getElementById("navlinks");
                var y = document.getElementById("navbutton");
                if (x.style.display === "flex") {
                    console.log("a");
                    x.style.display = "none";
                    y.innerHTML = "☰";
                } else {
                    x.style.display = "flex";
                    y.innerHTML = "✕";
                    console.log("b");
                    console.log("b");
                }
            }
         document.addEventListener("DOMContentLoaded", function () {
                    const form = document.querySelector("form");
                    const submitButton = form.querySelector('[type="submit"]');

                    form.addEventListener("submit", function () {
                        submitButton.disabled = true;
                        submitButton.value = "Processing...";
                    });
                });
        
        </script>
        <script data-collect-dnt="true" async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    </body>
</html>
