<!doctype html>
<html lang="en">
    <head>
        {% block title %}
        <title>Sign Up</title>
        {% endblock %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--searchable dropdowns-->
        <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>

        <!-- Add additional CSS in static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/dropdown.css' %}" />
        <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
        <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}" />
    </head>
    <body>
        <header class="signup">
            <div class="hero" style="background-image: url(&quot;{% static 'images/Heroes/signup_hero.JPG' %}&quot;)">
                <div class="overlay">
                    <img class="hero_cover" src="{% static 'images/Graphics/circle_yellow.png' %}" />
                </div>

                <h1 class="title">Swap One</h1>
            </div>
        </header>

        <main>
            <div class="content">
                <h2>Sign Up</h2>
                <p>
                    Real change can start with just one trip a week. Ditch the car and walk, bike, bus, or work from
                    home instead. Swap One is a programme to help you do this. It's easy. It matters. Find out more: [<a
                        href="swapone.nz"
                        >swapone.nz</a
                    >]
                </p>
                <form method="post">
                    {% csrf_token %} {{ form }}
                    <input type="submit" value="Submit" class="submit button input" />
                </form>
            </div>
        </main>
        <footer>
            <div class="logobox">
                <a href="https://www.nelsontasmanclimateforum.nz/"
                    ><img class="logoimg" src="{% static 'images/Logos/ntcf.png' %}"
                /></a>
                <a href="https://missionzero.nz/"
                    ><img class="logoimg" src="{% static 'images/Logos/missionzero.png' %}"
                /></a>
                <a href="https://www.nelsust.org.nz/"
                    ><img class="logoimg" src="{% static 'images/Logos/nelsust.png' %}"
                /></a>
                <a href="https://www.nelson.govt.nz/"
                    ><img class="logoimg" src="{% static 'images/Logos/ncc.png' %}"
                /></a>
            </div>
            <p>
                <b>
                    Made with love by Arturo Neale |
                    <a
                        href="https://docs.google.com/document/d/16ZJs5ThK508UCH08u0rqlp89AmkNzo0Klvcf2od-W18/edit?usp=sharing"
                        >Ts & Cs / Privacy Policy</a
                    >
                </b>
            </p>
        </footer>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const form = document.querySelector("form");
                const submitButton = form.querySelector('[type="submit"]');

                form.addEventListener("submit", function () {
                    submitButton.disabled = true;
                    submitButton.value = "Processing...";
                });

                const infocontent = {
                    distance: "Pick the distance that is the closest to your one-way travel distance.",
                    email: "Please use your personal email. Work filters can block our messages (and your rewards!)."
                };

                for (elem of document.getElementsByClassName("info")) {
                    var infobox = document.createElement("div");
                    var parent = elem.parentElement;
                    parent.insertBefore(infobox, elem);
                    infobox.outerHTML = "<div class='infobox'>" + infocontent[elem.id] + "</div>";
                }

                const placecontent = {
                    age: "select your age bracket",
                    distance: "select your travel distance",
                    vehicle: "select your vehicle type",
                    employer: "select your employer",
                    region: "select your region"
                };

                document.querySelectorAll("option[selected]").forEach((option) => {
                    option.removeAttribute("selected");
                });

                for (elem of document.getElementsByClassName("multi")) {
                    elem.innerHTML =
                        "<option value='' disabled selected>" + placecontent[elem.id] + "</option>" + elem.innerHTML;
                    elem.classList.add("placeholder");
                }

                document.querySelectorAll(".multi").forEach(function (dropdown) {
                    dropdown.addEventListener("change", function () {
                        this.classList.remove("placeholder");
                    });
                });
            });
        </script>
    </body>
</html>
