<!doctype html>
<html lang="en">
    <head>
        {% block title %}
        <title>Thanks!</title>
        {% endblock %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Add additional CSS in static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
        <h1>Thank You</h1>
        <h3>for logging your trip!</h3>
        <h3 class="red">See you next week! Feel free to close the page now.</h3>
    </body>
</html>
