<!doctype html>
<html lang="en">
    <head>
        {% block title %}
        <title>Unsubscribed</title>
        {% endblock %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Add additional CSS in static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}" />
    </head>
    <body>
        <header>
            <div class="visdiv">
                <div class="headerbox">
                    <a href="https://www.swapone.nz"><img class="logo" src="{% static 'images/cool_logo.png' %}" /></a>
                </div>
            </div>
        </header>
        <main>
            <h1>You've Been Unsubscribed!</h1>
            <div class="content">
                <h3>
                    We hope you enjoyed the programme, but you've been removed from our database. You'll recieve no more messages from us. If you want to sign up
                    again, go back to
                    <a href="../../signup">the sign up page</a>. Feel free to close the page now.
                </h3>
            </div>
        </main>
        <footer>
            <div class="logobox">
                <a href="https://www.nelsontasmanclimateforum.nz/"
                    ><img class="logoimg" src="{% static 'images/Logos/ntcf.png' %}"
                /></a>
                <a href="https://missionzero.nz/"
                    ><img class="logoimg" src="{% static 'images/Logos/missionzero.png' %}"
                /></a>
                <a href="https://www.nelsust.org.nz/"
                    ><img class="logoimg" src="{% static 'images/Logos/nelsust.png' %}"
                /></a>
                <a href="https://www.nelson.govt.nz/"
                    ><img class="logoimg" src="{% static 'images/Logos/ncc.png' %}"
                /></a>
            </div>
            <p>
                <b>
                    Made with love by Arturo Neale |
                    <a
                        href="https://docs.google.com/document/d/16ZJs5ThK508UCH08u0rqlp89AmkNzo0Klvcf2od-W18/edit?usp=sharing"
                        >Privacy Policy</a
                    >
                </b>
            </p>
        </footer>
        <script>
    </body>
</html>
