<!doctype html>
<html lang="en">
    <head>
        {% block title %}
        <title>Unsubscribed</title>
        {% endblock %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Add additional CSS in static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
        <header>
            <h1>Thanks for participating!</h1>
        </header>
        <main>
            <div class="blurb">
                <h3>
                    We hope you enjoyed the programme. You'll recieve no more messages from us. If you want to sign up
                    again, go back to
                    <a href="../../signup">the sign up page</a>. Feel free to close the page now.
                </h3>
            </div>
        </main>
    </body>
</html>
