<!doctype html>
<html lang="en">
    <head>
        <script
            src="https://browser.sentry-cdn.com/10.8.0/bundle.tracing.replay.feedback.min.js"
            integrity="sha384-Yy2UXIFrWRfe56w1BuJ8/pgltHwWyYP4Q7dYKueJ/c6RG8B/bPJmGv+TBTQSuTSv"
            crossorigin="anonymous"></script>
        <script>
            Sentry.init({
                dsn: "https://4f1b680b2af32bf11c468fbd4f104bea@o4509970654560256.ingest.de.sentry.io/4509970669895760"
            });
        </script>
        <meta charset="UTF-8" />
        <title>Unsubscribe</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-96x96.png' %}" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon/favicon.svg' %}" />
        <link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}" />
        <meta name="apple-mobile-web-app-title" content="Swap One" />
        <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        {% block content %}
        <header>
            <div class="visdiv">
                <button id="navbutton" onclick="navToggle()">☰</button>
                <div class="headerbox">
                    <a href="https://www.swapone.nz"><img class="logo" src="{% static 'images/cool_logo.png' %}" /></a>
                </div>
            </div>
            <div id="navlinks">
                <a class="button" href="/edit/{{ user.uuid }}">Edit Profile</a>
                <a class="button" href="/dash/{{ user.uuid }}">View Dashboard</a>
                <a class="button" href="/unsubscribe/{{ user.uuid }}">Unsubscribe</a>
            </div>
        </header>
        <main>
            <h1>Unsubscribe from Swap One</h1>
            <div class="content">
                <h3 class="red">Just to make sure you know, if you unsubscribe, all your progress will be lost.</h3>
                {% endblock %}
                <form method="post">
                    {% csrf_token %} {{ form }}
                    <input type="submit" value="Submit" class="submit button input" />
                </form>
            </div>
        </main>
        <footer>
            <div class="logobox">
                <a href="https://www.nelsontasmanclimateforum.nz/"
                    ><img class="logoimg" src="{% static 'images/Logos/ntcf.png' %}"
                /></a>
                <a href="https://missionzero.nz/"
                    ><img class="logoimg" src="{% static 'images/Logos/missionzero.png' %}"
                /></a>
                <a href="https://www.nelsust.org.nz/"
                    ><img class="logoimg" src="{% static 'images/Logos/nelsust.png' %}"
                /></a>
                <a href="https://www.nelson.govt.nz/"
                    ><img class="logoimg" src="{% static 'images/Logos/ncc.png' %}"
                /></a>
            </div>
            <p>
                <b>
                    Made with love by Arturo Neale |
                    <a
                        href="https://docs.google.com/document/d/16ZJs5ThK508UCH08u0rqlp89AmkNzo0Klvcf2od-W18/edit?usp=sharing"
                        >T&Cs / Privacy</a
                    >
                </b>
            </p>
        </footer>
        <script>
            function navToggle() {
                var x = document.getElementById("navlinks");
                var y = document.getElementById("navbutton");
                if (x.style.display === "flex") {
                    console.log("a");
                    x.style.display = "none";
                    y.innerHTML = "☰";
                } else {
                    x.style.display = "flex";
                    y.innerHTML = "✕";
                    console.log("b");
                    console.log("b");
                }
            }

            document.addEventListener("DOMContentLoaded", function () {
                const form = document.querySelector("form");
                const submitButton = form.querySelector('[type="submit"]');

                form.addEventListener("submit", function () {
                    submitButton.disabled = true;
                    submitButton.value = "Processing...";
                });
            });
        </script>
        <script data-collect-dnt="true" async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    </body>
</html>
