<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Unsubscribe</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        {% block content %}
        <header>
            <h1>Unsubscribe</h1>
        </header>
        <main>
            <div class="blurb">
                <h3>Greetings, {{user.name}}.</h3>
                <h3 class="red">If you unsubscribe, all your progress will be lost.</h3>
                {% endblock %}
            </div>
            <form method="post">
                {% csrf_token %} {{ form }}
                <input type="submit" value="Submit" class="submit button input" />
            </form>
        </main>
    </body>
</html>
