@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

body,
.input {
    font-family: inter;
    font-weight: 400;
}

h1 {
    font-weight: 800;
}
h3 {
    margin: 0;
}
img {
    width: 90vw;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

main {
    flex: 1;
    width: 100%;
    max-width: 900px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form {
    margin: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*django's stupid boxes enclosing input*/
form > div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

header {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
}

.blurb,
.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.blurb {
    align-items: center;
}

.input {
    box-sizing: border-box;
    margin-bottom: 20px;
    min-height: 30px;
    height: min-content;
    width: 80%;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 2px solid #e0e0e0;
    min-width: 200px;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: black;
}

.button {
    margin: 15px;
    width: 40%;
    min-width: 200px;
}

.errorlist {
    list-style-type: none;
    color: red;
    font-weight: 600;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
}
